html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background-color: lightgrey;
}

#ball {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: black;
}

.left_paddle {
    position: absolute;
    width: 20px;
    height: 100px;
    background-color: darkgreen;
    left: 50px;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.left_score {
    text-align: center;
    color: darkgreen;
    font-size: 20px;
    font-weight: bold;
}
.right_paddle {
    position: absolute;
    width: 20px;
    height: 100px;
    background-color: darkblue;
    right: 50px;
}



.right_score {
    text-align: center;
    color: darkblue;
    font-size: 20px;
    font-weight: bold;

}